.fp {
    width: 250px;
    height: 250px;
}
.readme {
    background-color: #161B22;
}
.fundoperfil {
    background-image: url(../img/fundoperfil2.jpg);
    border-radius: 20px;
}
.bio {

    padding: 20px;
}
.bio p {
    text-align: justify;
}
.dados {
    background-color: #132133;
    color: #fff;
}
.txtdecoration{
    text-decoration: none;
}
.margemt{
    margin-top: 12%;
    margin-bottom: 15%;
}