@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto:wght@300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #0e0e0f;

}

.navbar .navbar-collapse {
    text-align: center;
    flex-grow: 0;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}



.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: flex;
    flex-wrap: nowrap;
    align-items: space-around;
    justify-content: space-around;
}

.roxo {
    color: #6417a5 !important;
}

.fp {
    width: 250px;
    height: 250px;
}

.readme {
    background-color: #161B22;
}

.fundoperfil {
    background-image: url(../img/fundoperfil2.jpg);
    border-radius: 20px;

    background-repeat: round;
}

.bgbrabo {
    background-image: url(../img/bannerCustom.png);
    min-height: 50vh !important;
    background-repeat: round;
}

.bio {
    background: transparent;
    padding: 20px;
}

.p-20 {
    padding: 20px;
    border-radius: 10px;
}

.bio p {
    text-align: justify;
}

.dados {
    background-color: #132133;
    color: #fff;
    border: none !important;
}

.txtdecoration {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.margemt {
    margin-top: 5%;
    margin-bottom: 10%;
}



.corBanner {
    background-color: rgb(255, 255, 255);
    min-height: 300px;
   
}

.mt-7 {
    margin-top: 100px;
}

.jsbanner {
    filter: drop-shadow(#f7de1e71 25px -10px 2px);
}

.bggradient{
    background: linear-gradient(to top, #181919 ,black );
}