.fp{
    width: 250px;
    height: 240px;

}

.fundoperfil{
    background-image: url(../img/fundoperfil2.jpg);
}
.margem{
    margin-top: 10%;
    margin-bottom: 10%;
}
.txtdecoration{
    text-decoration: none;
}